<section class="content">
  <form class="form" novalidate id="form" autocomplete="off">
    <h1 class="form__titulo">Iniciar Sesion</h1>
    <div class="form__control">
      <label for="email" class="form__nombre-campo">
        Correo:
      </label>
      <input name="email" type="email" id="correo" class="form__campo" required>
    </div>

    <div class="form__control">
      <label for="password" class="form__nombre-campo">
        Contraseña:
      </label>
        <input name="password" type="password" id="password" class="form__campo" required>
    </div>

    <button type="submit" class="boton" id="btnLogin">Iniciar Sesión</button>
  </form>
</section>