<!-- <div class="header-main">

    <a href="#/inicio">
        <img src="../../public/vite.svg" alt="logo" class="logo">
    </a>
    <div class="menu">
        <nav class="menu__nav">
            <a href="#/categorias">Categorias</a>
            <a href="#/productos">Productos</a>
        </nav>
        <nav class="menu__nav">
            <a href="#/login">Login</a>
            <a href="#/registro">Registro</a>
        </nav>
    </div>

</div>
 -->

<div class="header-main">
    <!-- Logo -->
    <div class="container-logo">
        <a href="#/inicio" class="container-logo__logo">
            <img src="../../public/logo.png" alt="Logo" class="container-logo__img">
        </a>
        <span class="container-logo__txt">ADSOFTWARE</span>
    </div>
    <!-- Menu de navegacion de opciones -->
    <nav class="menu-navegacion menu-navegacion--sections">
        <ul class="menu-navegacion__opciones">
            <li class="menu-navegacion__opcion">
                <a href="#/categorias" class="menu-navegacion__link">Categorias</a>
            </li>
            <hr class="separador">
            <li class="menu-navegacion__opcion">
                <a href="#/productos" class="menu-navegacion__link">Productos</a>
            </li>
        </ul>
    </nav>
    <!-- Menu de navegacion de logueo -->
    <nav class="menu-navegacion menu-navegacion--autentication">
        <ul class="menu-navegacion__opciones menu-navegacion__opciones--autentication">
            <li class="menu-navegacion__opcion menu-navegacion__opcion--autentication" id="login">
                <a href="#/login" class="menu-navegacion__link">Log In</a>
            </li>
            <li class="menu-navegacion__opcion menu-navegacion__opcion--autentication" id="siginup">
                <a href="#/registro" class="menu-navegacion__link">Sign up</a> 
            </li>
            <li class="menu-navegacion__opcion menu-navegacion__opcion--autentication oculto" id="logout">
                <a href="#/logout" class="menu-navegacion__link">Log out</a> 
            </li>
        </ul>
    </nav>
</div>